
<section>
    <div class="container-fluid bg-dark text-white mt-5">
        <div class="row home_body overflow-hidden">

            <partial name="_SideHomeMenu" />

            <div class="col-md-10 mb-2 overflow-auto">
                <div class="row mx-2 mt-5 gy-2">
                    <div class="col-lg-4 col-sm-6">
                        <div class="card-text input-group input-group-md">
                            <span class="input-group-text rounded-start-5">
                               <!-- TODO: Search icon -->
                            </span>
                            <input type="text" class="form-control rounded-end-5 shadow" placeholder="Search something"/>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-1">
                        <div class="d-grid">
                            <a href="#" class="btn btn-primary">Person</a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-1">
                        <div class="d-grid">
                            <a href="#" class="btn btn-primary">Topic</a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-1">
                        <div class="d-grid">
                            <a href="#" class="btn btn-primary">Public Meetings</a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        <div class="d-grid">
                            <a asp-controller="User" asp-action="UserSearchOptions" class="btn btn-primary">Search options</a>
                        </div>
                    </div>
                </div>

                <!-- Content about user topics -->

                <div class="row home_body_content border-top border-light shadow mt-3 mx-2">
                    <div class="col">
                        <!--
                            TDOD:
                            Search content goes here.
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>