
<div class="col-md-2 d-none d-md-block shadow mt-5">

    <div class="row border-bottom border-primary rounded-bottom">
        <div class="col py-4">
            <a>Get Up To Date</a>
        </div>
    </div>
    <div class="row border-bottom border-primary rounded-bottom">
        <div class="col py-4">
            <a>Chat</a>
        </div>
    </div>
    <div class="row border-bottom border-primary rounded-bottom">
        <div class="col py-4">
            <a>Personal History</a>
        </div>
    </div>
    <div class="row">
        <div class="col py-4">
            <div class="d-grid">
                <a href="#">Profile</a>
            </div>
        </div>
    </div>
</div>