<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-primary"><i class="fas fa-tasks"></i> Your Actions</h2>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mt-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <div class="input-group input-group-md">
                        <span class="input-group-text">
                            <i class="fa fa-search text-primary"></i>
                        </span>
                        <input id="search" type="text" class="form-control" placeholder="Search by keyword..." />
                    </div>
                </div>
                <div class="card-body">
                    <div id="historyTableContainer">
                        <div id="viewedArticlesTableContainer" class="table-responsive">
                            <!-- Table content goes here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    
                    <h5 id="menuHeaderTitle" class="card-title text-success">Private History</h5>

                    <ul id="menu" class="nav nav-pills flex-column">
                        <li id="viewedArticles" class="nav-item">
                            <a class="home-menu-content nav-link text-black" href="#"><i class="fas fa-file-alt pe-1"></i> Articles</a>
                        </li>
                        <li id="viewedUsers" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-user pe-1"></i> Users</a>
                        </li>
                        <li id="likedArticles" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-thumbs-up pe-1"></i> Liked articles</a>
                        </li>
                        <li id="dislikedArticles" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-thumbs-down pe-1"></i> Disliked articles</a>
                        </li>
                        <li id="commentedArticles" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-comment pe-1"></i> Commented articles</a>
                        </li>
                        <li id="likedArticleComments" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-thumbs-up pe-1"></i> Liked article comments</a>
                        </li>
                        <li id="dislikedArticleComments" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-thumbs-down pe-1"></i> Disliked article comments</a>
                        </li>
                        <li id="searchedTopicData" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-tags pe-1"></i> Searched topic data</a>
                        </li>
                        <li id="topicSubscriptions" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-rss pe-1"></i> Topic subscriptions</a>
                        </li>
                    </ul>

                    <hr />

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn button-color btn-sm btn-custom" data-bs-toggle="modal" data-bs-target="#retentionModal">
                            <i class="fas fa-clock pe-1"></i> Set Retention Period
                        </button>
                        <button id="privateHistory" class="btn button-color btn-sm btn-custom">
                            <i class="fas fa-lock pe-1"></i> Private
                        </button>
                        <button id="publicHistory" class="btn button-color btn-sm btn-custom">
                            <i class="fas fa-lock-open pe-1"></i> Public
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Retention Modal -->
<div class="modal fade" id="retentionModal" tabindex="-1" aria-labelledby="retentionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-color text-dark">
                <h5 class="modal-title" id="retentionModalLabel">Set History Retention Period <i class="fas fa-clock ps-2"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="retentionForm">
                    <div class="form-group">
                        <label for="historyRetention">Keep history for:</label>
                        <select id="historyRetention" class="form-control">
                            <option value="7">1 week</option>
                            <option value="14">2 weeks</option>
                            <option value="30">1 month</option>
                        </select>
                    </div>
                </form>
                <small class="form-text text-muted">Your private history will be deleted after the selected period.</small>
                <div class="mt-3">
                    <strong><i class="fas fa-calendar-alt icon-calendar"></i> End Date and Time: </strong><span id="retentionEndDateTime"></span>
                </div>
                <div class="mt-2">
                    <strong><i class="fas fa-hourglass-half icon-hourglass"></i> Days Remaining: </strong><span id="daysRemaining"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="setHistoryRetention()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $("document").ready(() => {

            DisplayViewedArticles();

            $(document).on('click', '#viewedArticles', function () {
                DisplayViewedArticles();
            });

            $(document).on('click', '#viewedArticlesPublicHistory', function () {
                DisplayViewedArticlesPublicHistory();
            });

            $(document).on('click', '#viewedUsers', function () {
                DisplayViewedUsers();
            });

            $(document).on('click', '#searchedArticleData', function () {
                DisplaySearchedArticleData();
            });

            $(document).on('click', '#likedArticles', function () {
                DisplayLikedArticles();
            });

            $(document).on('click', '#dislikedArticles', function () {
                DisplayDislikedArticles();
            });

            $(document).on('click', '#commentedArticles', function () {
                DisplayCommentedArticles();
            });

            $(document).on('click', '#commentedArticlesPublicHistory', function () {
                DisplayCommentedArticlesPublicHistory();
            });

            $(document).on('click', '#likedArticleComments', function () {
                DisplayLikedArticleComments();
            });

            $(document).on('click', '#dislikedArticleComments', function () {
                DisplayDislikedArticleComments();
            });

            $(document).on('click', '#searchedTopicData', function () {
                DisplaySearchedTopicData();
            });

            $(document).on('click', '#topicSubscriptions', function () {
                DisplayTopicSubscriptions();
            });

            $(document).on('click', '[id^="viewedArticlesTablePage-"]', function () {
                
                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayViewedArticles(pageNumber);
            });

            $(document).on('click', '[id^="viewedUsersTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayViewedUsers(pageNumber);
            });

            $(document).on('click', '[id^="searchedArticleDataTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplaySearchedArticleData(pageNumber);
            });

            $(document).on('click', '[id^="likedArticlesTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayLikedArticles(pageNumber);
            });

            $(document).on('click', '[id^="dislikedArticlesTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayDislikedArticles(pageNumber);
            });

            $(document).on('click', '[id^="commentedArticlesTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayCommentedArticles(pageNumber);
            });

            $(document).on('click', '[id^="likedArticleCommentsTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayLikedArticleComments(pageNumber);
            });

            $(document).on('click', '[id^="dislikedArticleCommentsTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayDislikedArticleComments(pageNumber);
            });

            $(document).on('click', '[id^="searchedTopicDataTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplaySearchedTopicData(pageNumber);
            });

            $(document).on('click', '[id^="topicSubscriptionsTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayTopicSubscriptions(pageNumber);
            });

            $(document).on('click', '[id^="searchedViewedArticlesTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                const searchedViewedArticles = $("#searchedViewedArticles").val();

                DisplaySearchedViewedArticles(searchedViewedArticles, pageNumber);
            });


            $("#search").on("keyup", function () {

                var query = $(this).val();

                if (query.length >= 1) {  // Start suggesting if the query is not empty.

                    //Send ajax HTTP GET request to /PrivateHistory/SearchViewedArticles.
                    $.ajax({
                        type: 'GET',
                        url: '/PrivateHistory/SearchViewedArticles',
                        data: {
                            'query': query
                        },
                        success: (response) => {
                          
                            let searchedViewedArticles = JSON.stringify(response);

                            DisplaySearchedViewedArticles(searchedViewedArticles, 1, query);
                        },
                        failure: (reponse) => {
                            console.log("failure", response);
                        },
                        error: (response) => {
                            console.log("error", response);
                        }
                    });
                }
                else{
                    DisplayViewedArticles();
                }
            });

            $("#privateHistory").on('click', () => {

                $("#menuHeaderTitle").text("Private History");

                DisplayViewedArticles();

                //TODO: Encapsulate this in function

                const liElementViewedArticles = $("<li>", {
                    id: "viewedArticles",
                    class: "nav-item"
                });

                 const aElementViewedArticles = $("<a>", {
                    class: "home-menu-content nav-link text-black",
                    html: '<i class="fas fa-file-alt pe-1"></i> Articles',
                    href: "#"
                });

                liElementViewedArticles.append(aElementViewedArticles);

                const liElementViewedUsers = $("<li>", {
                    id: "viewedUsers",
                    class: "nav-item"
                });

                const aElementViewedUsers = $("<a>", {
                    class: "home-menu-content nav-link text-secondary",
                    html: '<i class="fas fa-user pe-1"></i> Users',
                    href: "#"
                });

                liElementViewedUsers.append(aElementViewedUsers);

                const liElementLikedArticles = $("<li>", {
                    id: "likedArticles",
                    class: "nav-item"
                });

                const aElementLikedArticles = $("<a>", {
                    class: "home-menu-content nav-link text-secondary",
                    html: '<i class="fas fa-thumbs-up pe-1"></i> Liked articles',
                    href: "#"
                });

                liElementLikedArticles.append(aElementLikedArticles);

                const liElementDislikedArticles = $("<li>", {
                    id: "dislikedArticles",
                    class: "nav-item"
                });

                const aElementDislikedArticles = $("<a>", {
                    class: "home-menu-content nav-link text-secondary",
                    html: '<i class="fas fa-thumbs-down pe-1"></i> Disliked articles',
                    href: "#"
                });

                liElementDislikedArticles.append(aElementDislikedArticles);

                const liElementCommentedArticles = $("<li>", {
                    id: "commentedArticles",
                    class: "nav-item"
                });

                const aElementCommentedArticles = $("<a>", {
                    class: "home-menu-content nav-link text-secondary",
                    html: '<i class="fas fa-comment pe-1"></i> Commented articles',
                    href: "#"
                });

                liElementCommentedArticles.append(aElementCommentedArticles);

                const liElementLikedArticleComments = $("<li>", {
                    id: "likedArticleComments",
                    class: "nav-item"
                });

                const aElementLikedArticleComments = $("<a>", {
                    class: "home-menu-content nav-link text-secondary",
                    html: '<i class="fas fa-thumbs-up pe-1"></i> Liked article comments',
                    href: "#"
                });

                liElementLikedArticleComments.append(aElementLikedArticleComments);

                const liElementDislikedArticleComments = $("<li>", {
                    id: "dislikedArticleComments",
                    class: "nav-item"
                });

                const aElementDislikedArticleComments = $("<a>", {
                    class: "home-menu-content nav-link text-secondary",
                    html: '<i class="fas fa-thumbs-down pe-1"></i> Disliked article comments',
                    href: "#"
                });

                liElementDislikedArticleComments.append(aElementDislikedArticleComments);

                const liElementSearchedTopicData = $("<li>", {
                    id: "searchedTopicData",
                    class: "nav-item"
                });

                const aElementSearchedTopicData = $("<a>", {
                    class: "home-menu-content nav-link text-secondary",
                    html: '<i class="fas fa-tags pe-1"></i> Searched topic data',
                    href: "#"
                });

                liElementSearchedTopicData.append(aElementSearchedTopicData);

                const liElementTopicSubscriptions = $("<li>", {
                    id: "topicSubscriptions",
                    class: "nav-item"
                });

                const aElementTopicSubscriptions = $("<a>", {
                    class: "home-menu-content nav-link text-secondary",
                    html: '<i class="fas fa-rss pe-1"></i> Topic subscriptions',
                    href: "#"
                });

                liElementTopicSubscriptions.append(aElementTopicSubscriptions);

                $("#menu").empty();

                $("#menu").append(liElementViewedArticles);
                $("#menu").append(liElementViewedUsers);
                $("#menu").append(liElementLikedArticles);
                $("#menu").append(liElementDislikedArticles);
                $("#menu").append(liElementCommentedArticles);
                $("#menu").append(liElementLikedArticleComments);
                $("#menu").append(liElementDislikedArticleComments);
                $("#menu").append(liElementSearchedTopicData);
                $("#menu").append(liElementTopicSubscriptions);
            });

            $("#publicHistory").on('click', () => {

                $("#menuHeaderTitle").text("Public History");

                DisplayViewedArticlesPublicHistory();

                //TODO: Encapsulate this in function

                const liElementViewedArticles = $("<li>", {
                    id: "viewedArticlesPublicHistory",
                    class: "nav-item"
                });

                const aElementViewedArticles = $("<a>", {
                    class: "home-menu-content nav-link text-black",
                    html: '<i class="fas fa-file-alt pe-1"></i> Articles',
                    href: "#"
                });

                liElementViewedArticles.append(aElementViewedArticles);

                const liElementViewedUsers = $("<li>", {
                    id: "viewedUsersPublicHistory",
                    class: "nav-item"
                });

                const aElementViewedUsers = $("<a>", {
                    class: "home-menu-content nav-link text-secondary",
                    html: '<i class="fas fa-user pe-1"></i> Users',
                    href: "#"
                });

                liElementViewedUsers.append(aElementViewedUsers);

                const liElementCommentedArticles = $("<li>", {
                    id: "commentedArticlesPublicHistory",
                    class: "nav-item"
                });

                const aElementCommentedArticles = $("<a>", {
                    class: "home-menu-content nav-link text-secondary",
                    html: '<i class="fas fa-comment pe-1"></i> Commented articles',
                    href: "#"
                });

                liElementCommentedArticles.append(aElementCommentedArticles);

                const liElementSearchedTopicData = $("<li>", {
                    id: "searchedTopicDataPublicHistory",
                    class: "nav-item"
                });

                const aElementSearchedTopicData = $("<a>", {
                    class: "home-menu-content nav-link text-secondary",
                    html: '<i class="fas fa-tags pe-1"></i> Searched topic data',
                    href: "#"
                });

                liElementSearchedTopicData.append(aElementSearchedTopicData);

                $("#menu").empty();

                $("#menu").append(liElementViewedArticles);
                $("#menu").append(liElementViewedUsers);
                $("#menu").append(liElementCommentedArticles);
                $("#menu").append(liElementSearchedTopicData);
            });
        });

    </script>
}