<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-primary"><i class="fas fa-tasks"></i> Your Actions</h2>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mt-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <div class="input-group input-group-md">
                        <span class="input-group-text">
                            <i class="fa fa-search text-primary"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Search by keyword..." />
                    </div>
                </div>
                <div class="card-body">
                    <div id="historyTableContainer">
                        <div id="viewedArticlesTableContainer" class="table-responsive">
                            <!-- Table content goes here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    
                    <h5 class="card-title text-success">Private History</h5>

                    <ul class="nav nav-pills flex-column">
                        <li id="viewedArticles" class="nav-item">
                            <a class="home-menu-content nav-link text-black" href="#"><i class="fas fa-file-alt pe-1"></i> Viewed articles</a>
                        </li>
                        <li id="viewedUsers" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-user pe-1"></i> Viewed users</a>
                        </li>
                        <li id="searchedArticleData" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-search pe-1"></i> Searched article data</a>
                        </li>
                        <li id="likedArticles" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-thumbs-up pe-1"></i> Liked articles</a>
                        </li>
                        <li id="dislikedArticles" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-thumbs-down pe-1"></i> Disliked articles</a>
                        </li>
                        <li id="commentedArticles" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-comment pe-1"></i> Commented articles</a>
                        </li>
                        <li id="likedArticleComments" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-heart pe-1"></i> Liked article comments</a>
                        </li>
                        <li id="dislikedArticleComments" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-heart-broken pe-1"></i> Disliked article comments</a>
                        </li>
                        <li id="searchedTopicData" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-tags pe-1"></i> Searched topic data</a>
                        </li>
                        <li id="topicSubscriptions" class="nav-item">
                            <a class="home-menu-content nav-link text-secondary" href="#"><i class="fas fa-rss pe-1"></i> Topic subscriptions</a>
                        </li>
                    </ul>

                    <hr />

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn button-color btn-sm btn-custom" data-bs-toggle="modal" data-bs-target="#retentionModal">
                            <i class="fas fa-clock pe-1"></i> Set Retention Period
                        </button>
                        <button class="btn button-color btn-sm btn-custom">
                            <i class="fas fa-lock pe-1"></i> Private
                        </button>
                        <button class="btn button-color btn-sm btn-custom">
                            <i class="fas fa-lock-open pe-1"></i> Public
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Retention Modal -->
<div class="modal fade" id="retentionModal" tabindex="-1" aria-labelledby="retentionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-color text-dark">
                <h5 class="modal-title" id="retentionModalLabel">Set History Retention Period <i class="fas fa-clock ps-2"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="retentionForm">
                    <div class="form-group">
                        <label for="historyRetention">Keep history for:</label>
                        <select id="historyRetention" class="form-control">
                            <option value="7">1 week</option>
                            <option value="14">2 weeks</option>
                            <option value="30">1 month</option>
                        </select>
                    </div>
                </form>
                <small class="form-text text-muted">Your private history will be deleted after the selected period.</small>
                <div class="mt-3">
                    <strong><i class="fas fa-calendar-alt icon-calendar"></i> End Date and Time: </strong><span id="retentionEndDateTime"></span>
                </div>
                <div class="mt-2">
                    <strong><i class="fas fa-hourglass-half icon-hourglass"></i> Days Remaining: </strong><span id="daysRemaining"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="setHistoryRetention()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $("document").ready(() => {

            DisplayViewedArticles();

            $(document).on('click', '#viewedArticles', function () {
                DisplayViewedArticles();
            });

            $(document).on('click', '#viewedUsers', function () {
                DisplayViewedUsers();
            });

            $(document).on('click', '#searchedArticleData', function () {
                DisplaySearchedArticleData();
            });

            $(document).on('click', '#likedArticles', function () {
                DisplayLikedArticles();
            });

            $(document).on('click', '#dislikedArticles', function () {
                DisplayDislikedArticles();
            });

            $(document).on('click', '#commentedArticles', function () {
                DisplayCommentedArticles();
            });

            $(document).on('click', '#likedArticleComments', function () {
                DisplayLikedArticleComments();
            });

            $(document).on('click', '#dislikedArticleComments', function () {
                DisplayDislikedArticleComments();
            });

            $(document).on('click', '#searchedTopicData', function () {
                DisplaySearchedTopicData();
            });

            $(document).on('click', '#topicSubscriptions', function () {
                DisplayTopicSubscriptions();
            });

            $(document).on('click', '[id^="viewedArticlesTablePage-"]', function () {
                
                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayViewedArticles(pageNumber);
            });

            $(document).on('click', '[id^="viewedUsersTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayViewedUsers(pageNumber);
            });

            $(document).on('click', '[id^="searchedArticleDataTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplaySearchedArticleData(pageNumber);
            });

            $(document).on('click', '[id^="likedArticlesTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayLikedArticles(pageNumber);
            });

            $(document).on('click', '[id^="dislikedArticlesTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayDislikedArticles(pageNumber);
            });

            $(document).on('click', '[id^="commentedArticlesTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayCommentedArticles(pageNumber);
            });

            $(document).on('click', '[id^="likedArticleCommentsTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayLikedArticleComments(pageNumber);
            });

            $(document).on('click', '[id^="dislikedArticleCommentsTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayDislikedArticleComments(pageNumber);
            });

            $(document).on('click', '[id^="searchedTopicDataTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplaySearchedTopicData(pageNumber);
            });

            $(document).on('click', '[id^="topicSubscriptionsTablePage-"]', function () {

                const pageNumber = this.id.replace(/.*-/, ''); // Get what comes after the dash

                DisplayTopicSubscriptions(pageNumber);
            });
        });

        function displayEndDateTime(retentionUntil) {

            const endDateTime = formatDateTime(retentionUntil);

            $('#retentionEndDateTime').text(endDateTime);

            const endDate = new Date(retentionUntil);
            const now = new Date();
            // Calculate the number of days remaining
            const timeDiff = endDate - now;

            const daysRemaining = Math.ceil(timeDiff / (1000 * 60 * 60 * 24));

            $('#daysRemaining').text(`${daysRemaining} days.`);
        }

        function setHistoryRetention() {
            
            const retentionPeriod = document.getElementById('historyRetention').value;

            //Send ajax HTTP POST request to /PrivateHistory/SetRetentionPeriod.
            $.ajax({
                type: 'POST',
                url: '/PrivateHistory/SetRetentionPeriod',
                data: {
                    'retentionDays': retentionPeriod
                },
                success: (response) => {
                    console.log("success", response);
                },
                failure: (reponse) => {
                    console.log("failure", response);
                },
                error: (response) => {
                    console.log("error", response);
                }
            });
        }

        function DisplayViewedArticles(pageNumber = 1) {

            //Send ajax HTTP GET request to /PrivateHistory/ViewedArticles.
            $.ajax({
                type: 'GET',
                url: '/PrivateHistory/ViewedArticles',
                data: {
                    'pageNumber': pageNumber
                },
                success: (response) => {

                    if (response != null) {

                        $("#historyTableContainer").empty();

                        const divElementViewedArticlesTableContainer = $("<div>", {
                            id: "viewedArticlesTableContainer",
                            class: "container mt-1"
                        });

                        $("#historyTableContainer").append(divElementViewedArticlesTableContainer);

                        const tableData = {
                            'Article': [],
                            'Watched': [],
                            'View': [],
                            'Remove': [],
                            'Move' : []
                        };

                        response.articles.forEach((element) => {

                            const buttonElementViewArticle = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-primary btn-sm",
                                html: '<i class="fas fa-eye"></i>'
                            });

                            buttonElementViewArticle.on("click", () => {

                                console.log("View article");
                            });

                            const buttonElementRemoveArticle = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-danger btn-sm",
                                html: '<i class="fas fa-trash"></i>' 
                            });

                            buttonElementRemoveArticle.on("click", () => {
                                console.log("Remove article");
                            });

                            const buttonElementMove = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-success btn-sm",
                                html: '<i class="fas fa-share"></i>' 
                            });

                            buttonElementMove.on("click", () => {
                                console.log("Move to public");
                            });

                            tableData['Article'].push(element.article.title);
                            tableData['Watched'].push(formatDateTime(element.dateTime));
                            tableData['View'].push(buttonElementViewArticle);
                            tableData['Remove'].push(buttonElementRemoveArticle);
                            tableData['Move'].push(buttonElementMove);

                            displayEndDateTime(element.retentionUntil);
                        });

                        const tableElement = CreateHistoryTable(tableData);

                        $("#viewedArticlesTableContainer").append(tableElement);

                        if (response.pagination.totalPages > 0) {

                            const divElementPaginationContainer = CreateHistoryTablePagination(response.pagination, "viewedArticlesTablePage");

                            $("#viewedArticlesTableContainer").append(divElementPaginationContainer);
                        }
                    }
                },
                failure: (reponse) => {
                    console.log("failure", response);
                },
                error: (response) => {
                    console.log("error", response);
                }
            });
        }


        function DisplayViewedUsers(pageNumber = 1) {

            //Send ajax HTTP GET request to /PrivateHistory/ViewedUsers.
            $.ajax({
                type: 'GET',
                url: '/PrivateHistory/ViewedUsers',
                data: {
                    'pageNumber': pageNumber
                },
                success: (response) => {

                    if (response != null) {

                        $("#historyTableContainer").empty();

                        const divElementViewedUsersTableContainer = $("<div>", {
                            id: "viewedUsersTableContainer",
                            class: "container mt-1"
                        });

                        $("#historyTableContainer").append(divElementViewedUsersTableContainer);

                        const tableData = {
                            'User': [],
                            'Watched': [],
                            'View': [],
                            'Remove': [],
                            'Move': []
                        };

                        response.viewedUsers.forEach((element) => {

                            const buttonElementViewUser = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-primary btn-sm",
                                html: '<i class="fas fa-eye"></i>'
                            });

                            buttonElementViewUser.on("click", () => {

                                console.log("View article");
                            });

                            const buttonElementRemoveUser = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-danger btn-sm",
                                html: '<i class="fas fa-trash"></i>'
                            });

                            buttonElementRemoveUser.on("click", () => {
                                console.log("Remove article");
                            });

                            const buttonElementMove = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-success btn-sm",
                                html: '<i class="fas fa-share"></i>'
                            });

                            buttonElementMove.on("click", () => {
                                console.log("Move to public");
                            });


                            tableData['User'].push(element.viewedUser.userNickName);
                            tableData['Watched'].push(formatDateTime(element.dateTime));
                            tableData['View'].push(buttonElementViewUser);
                            tableData['Remove'].push(buttonElementRemoveUser);
                            tableData['Move'].push(buttonElementMove);

                            displayEndDateTime(element.retentionUntil);
                        });

                        const tableElement = CreateHistoryTable(tableData);

                        $("#viewedUsersTableContainer").append(tableElement);

                        if (response.pagination.totalPages > 0) {

                            const divElementPaginationContainer = CreateHistoryTablePagination(response.pagination, "viewedUsersTablePage");

                            $("#viewedUsersTableContainer").append(divElementPaginationContainer);
                        }
                    }
                },
                failure: (reponse) => {
                    console.log("failure", response);
                },
                error: (response) => {
                    console.log("error", response);
                }
            });
        }


        function DisplaySearchedArticleData(pageNumber = 1) {

            //Send ajax HTTP GET request to /PrivateHistory/SearchedArticleData.
            $.ajax({
                type: 'GET',
                url: '/PrivateHistory/SearchedArticleData',
                data: {
                    'pageNumber': pageNumber
                },
                success: (response) => {

                    if (response != null) {

                        $("#historyTableContainer").empty();

                        const divElementSearchedArticleDataTableContainer = $("<div>", {
                            id: "searchedArticleDataTableContainer",
                            class: "container mt-1"
                        });

                        $("#historyTableContainer").append(divElementSearchedArticleDataTableContainer);

                        const tableData = {
                            'Article': [],
                            'Searched Data': [],
                            'Search Time': [],
                            'View': [],
                            'Remove': [],
                            'Move': []
                        };

                        response.searchedArticles.forEach((element) => {

                            const buttonElementViewArticle = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-primary btn-sm",
                                html: '<i class="fas fa-eye"></i>'
                            });

                            buttonElementViewArticle.on("click", () => {

                                console.log("View article");
                            });

                            const buttonElementRemoveSearchedArticle = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-danger btn-sm",
                                html: '<i class="fas fa-trash"></i>'
                            });

                            buttonElementRemoveSearchedArticle.on("click", () => {
                                console.log("Remove article");
                            });

                            const buttonElementMove = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-success btn-sm",
                                html: '<i class="fas fa-share"></i>'
                            });

                            buttonElementMove.on("click", () => {
                                console.log("Move to public");
                            });


                            tableData['Article'].push(element.article.title);
                            tableData['Searched Data'].push(element.searchedData);
                            tableData['Search Time'].push(formatDateTime(element.dateTime));
                            tableData['View'].push(buttonElementViewArticle);
                            tableData['Remove'].push(buttonElementRemoveSearchedArticle);
                            tableData['Move'].push(buttonElementMove);

                            displayEndDateTime(element.retentionUntil);
                        });

                        const tableElement = CreateHistoryTable(tableData);

                        $("#searchedArticleDataTableContainer").append(tableElement);

                        if (response.pagination.totalPages > 0) {

                            const divElementPaginationContainer = CreateHistoryTablePagination(response.pagination, "searchedArticleDataTablePage");

                            $("#searchedArticleDataTableContainer").append(divElementPaginationContainer);
                        }
                    }
                },
                failure: (reponse) => {
                    console.log("failure", response);
                },
                error: (response) => {
                    console.log("error", response);
                }
            });
        }


        function DisplayLikedArticles(pageNumber = 1) {

            //Send ajax HTTP GET request to /PrivateHistory/LikedArticles.
            $.ajax({
                type: 'GET',
                url: '/PrivateHistory/LikedArticles',
                data: {
                    'pageNumber': pageNumber
                },
                success: (response) => {

                    if (response != null) {

                        $("#historyTableContainer").empty();

                        const divElementLikedArticlesTableContainer = $("<div>", {
                            id: "likedArticlesTableContainer",
                            class: "container mt-1"
                        });

                        $("#historyTableContainer").append(divElementLikedArticlesTableContainer);

                        const tableData = {
                            'Article': [],
                            'Time': [],
                            'Remove': []
                        };

                        response.likedArticles.forEach((element) => {

                            const buttonElementRemoveLikedArticle = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-danger btn-sm",
                                html: '<i class="fas fa-trash"></i>'
                            });

                            buttonElementRemoveLikedArticle.on("click", () => {
                                console.log("Remove article");
                            });

                            tableData['Article'].push(element.article.title);
                            tableData['Time'].push(formatDateTime(element.dateTime));
                            tableData['Remove'].push(buttonElementRemoveLikedArticle);

                            displayEndDateTime(element.retentionUntil);
                        });

                        const tableElement = CreateHistoryTable(tableData);

                        $("#likedArticlesTableContainer").append(tableElement);

                        if (response.pagination.totalPages > 0) {

                            const divElementPaginationContainer = CreateHistoryTablePagination(response.pagination, "likedArticlesTablePage");

                            $("#likedArticlesTableContainer").append(divElementPaginationContainer);
                        }
                    }
                },
                failure: (reponse) => {
                    console.log("failure", response);
                },
                error: (response) => {
                    console.log("error", response);
                }
            });
        }


        function DisplayDislikedArticles(pageNumber = 1) {

            //Send ajax HTTP GET request to /PrivateHistory/DislikedArticles.
            $.ajax({
                type: 'GET',
                url: '/PrivateHistory/DislikedArticles',
                data: {
                    'pageNumber': pageNumber
                },
                success: (response) => {

                    if (response != null) {

                        $("#historyTableContainer").empty();

                        const divElementDislikedArticlesTableContainer = $("<div>", {
                            id: "dislikedArticlesTableContainer",
                            class: "container mt-1"
                        });

                        $("#historyTableContainer").append(divElementDislikedArticlesTableContainer);

                        const tableData = {
                            'Article': [],
                            'Time': [],
                            'Remove': []
                        };

                        response.dislikedArticles.forEach((element) => {

                            const buttonElementRemoveDislikedArticle = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-danger btn-sm",
                                html: '<i class="fas fa-trash"></i>'
                            });

                            buttonElementRemoveDislikedArticle.on("click", () => {
                                console.log("Remove article");
                            });

                            tableData['Article'].push(element.article.title);
                            tableData['Time'].push(formatDateTime(element.dateTime));
                            tableData['Remove'].push(buttonElementRemoveDislikedArticle);

                            displayEndDateTime(element.retentionUntil);
                        });

                        const tableElement = CreateHistoryTable(tableData);

                        $("#dislikedArticlesTableContainer").append(tableElement);

                        if (response.pagination.totalPages > 0) {

                            const divElementPaginationContainer = CreateHistoryTablePagination(response.pagination, "dislikedArticlesTablePage");

                            $("#dislikedArticlesTableContainer").append(divElementPaginationContainer);
                        }
                    }
                },
                failure: (reponse) => {
                    console.log("failure", response);
                },
                error: (response) => {
                    console.log("error", response);
                }
            });
        }

        function DisplayCommentedArticles(pageNumber = 1) {

            //Send ajax HTTP GET request to /PrivateHistory/CommentedArticles.
            $.ajax({
                type: 'GET',
                url: '/PrivateHistory/CommentedArticles',
                data: {
                    'pageNumber': pageNumber
                },
                success: (response) => {

                    if (response != null) {

                        $("#historyTableContainer").empty();

                        const divElementCommentedArticlesTableContainer = $("<div>", {
                            id: "commentedArticlesTableContainer",
                            class: "container mt-1"
                        });

                        $("#historyTableContainer").append(divElementCommentedArticlesTableContainer);

                        const tableData = {
                            'Article': [],
                            'Comment': [],
                            'Time': [],
                            'Remove': [],
                            'Move': []
                        };

                        response.commentedArticles.forEach((element) => {

                            const buttonElementRemoveCommentedArticle = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-danger btn-sm",
                                html: '<i class="fas fa-trash"></i>'
                            });

                            buttonElementRemoveCommentedArticle.on("click", () => {
                                console.log("Remove article");
                            });

                            const buttonElementMove = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-success btn-sm",
                                html: '<i class="fas fa-share"></i>'
                            });

                            buttonElementMove.on("click", () => {
                                console.log("Move to public");
                            });

                            tableData['Article'].push(element.article.title);
                            tableData['Comment'].push(element.articleComment);
                            tableData['Time'].push(formatDateTime(element.dateTime));
                            tableData['Remove'].push(buttonElementRemoveCommentedArticle);
                            tableData['Move'].push(buttonElementMove);

                            displayEndDateTime(element.retentionUntil);
                        });

                        const tableElement = CreateHistoryTable(tableData);

                        $("#commentedArticlesTableContainer").append(tableElement);

                        if (response.pagination.totalPages > 0) {

                            const divElementPaginationContainer = CreateHistoryTablePagination(response.pagination, "commentedArticlesTablePage");

                            $("#commentedArticlesTableContainer").append(divElementPaginationContainer);
                        }
                    }
                },
                failure: (reponse) => {
                    console.log("failure", response);
                },
                error: (response) => {
                    console.log("error", response);
                }
            });
        }


        function DisplayLikedArticleComments(pageNumber = 1) {

            //Send ajax HTTP GET request to /PrivateHistory/LikedArticleComments.
            $.ajax({
                type: 'GET',
                url: '/PrivateHistory/LikedArticleComments',
                data: {
                    'pageNumber': pageNumber
                },
                success: (response) => {

                    if (response != null) {

                        $("#historyTableContainer").empty();

                        const divElementLikedArticleCommentsTableContainer = $("<div>", {
                            id: "likedArticleCommentsTableContainer",
                            class: "container mt-1"
                        });

                        $("#historyTableContainer").append(divElementLikedArticleCommentsTableContainer);

                        const tableData = {
                            'Article': [],
                            'Article Comment': [],
                            'Time': [],
                            'Remove': []
                        };

                        response.likedArticleComments.forEach((element) => {

                            const buttonElementRemoveLikedArticleComment = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-danger btn-sm",
                                html: '<i class="fas fa-trash"></i>'
                            });

                            buttonElementRemoveLikedArticleComment.on("click", () => {
                                console.log("Remove article");
                            });

                            tableData['Article'].push(element.article.title);
                            tableData['Article Comment'].push(element.articleCommentId);
                            tableData['Time'].push(formatDateTime(element.dateTime));
                            tableData['Remove'].push(buttonElementRemoveLikedArticleComment);

                            displayEndDateTime(element.retentionUntil);
                        });

                        const tableElement = CreateHistoryTable(tableData);

                        $("#likedArticleCommentsTableContainer").append(tableElement);

                        if (response.pagination.totalPages > 0) {

                            const divElementPaginationContainer = CreateHistoryTablePagination(response.pagination, "likedArticleCommentsTablePage");

                            $("#likedArticleCommentsTableContainer").append(divElementPaginationContainer);
                        }
                    }
                },
                failure: (reponse) => {
                    console.log("failure", response);
                },
                error: (response) => {
                    console.log("error", response);
                }
            });
        }


        function DisplayDislikedArticleComments(pageNumber = 1) {

            //Send ajax HTTP GET request to /PrivateHistory/DislikedArticleComments.
            $.ajax({
                type: 'GET',
                url: '/PrivateHistory/DislikedArticleComments',
                data: {
                    'pageNumber': pageNumber
                },
                success: (response) => {

                    if (response != null) {

                        $("#historyTableContainer").empty();

                        const divElementDislikedArticleCommentsTableContainer = $("<div>", {
                            id: "dislikedArticleCommentsTableContainer",
                            class: "container mt-1"
                        });

                        $("#historyTableContainer").append(divElementDislikedArticleCommentsTableContainer);

                        const tableData = {
                            'Article': [],
                            'Article Comment': [],
                            'Time': [],
                            'Remove': []
                        };

                        response.dislikedArticleComments.forEach((element) => {

                            const buttonElementRemoveDislikedArticleComment = $("<button>", {
                                type: "button",
                                class: "btn btn-outline-danger btn-sm",
                                html: '<i class="fas fa-trash"></i>'
                            });

                            buttonElementRemoveDislikedArticleComment.on("click", () => {
                                console.log("Remove article");
                            });

                            tableData['Article'].push(element.article.title);
                            tableData['Article Comment'].push(element.articleCommentId);
                            tableData['Time'].push(formatDateTime(element.dateTime));
                            tableData['Remove'].push(buttonElementRemoveDislikedArticleComment);

                            displayEndDateTime(element.retentionUntil);
                        });

                        const tableElement = CreateHistoryTable(tableData);

                        $("#dislikedArticleCommentsTableContainer").append(tableElement);

                        if (response.pagination.totalPages > 0) {

                            const divElementPaginationContainer = CreateHistoryTablePagination(response.pagination, "dislikedArticleCommentsTablePage");

                            $("#dislikedArticleCommentsTableContainer").append(divElementPaginationContainer);
                        }
                    }
                },
                failure: (reponse) => {
                    console.log("failure", response);
                },
                error: (response) => {
                    console.log("error", response);
                }
            });
        }


        function DisplaySearchedTopicData(pageNumber = 1) {

            //Send ajax HTTP GET request to /PrivateHistory/SearchedTopicData.
            $.ajax({
                type: 'GET',
                url: '/PrivateHistory/SearchedTopicData',
                data: {
                    'pageNumber': pageNumber
                },
                success: (response) => {

                    if (response != null) {

                        $("#historyTableContainer").empty();

                        const divElementSearchedTopicDataTableContainer = $("<div>", {
                            id: "searchedTopicDataTableContainer",
                            class: "container mt-1"
                        });

                        $("#historyTableContainer").append(divElementSearchedTopicDataTableContainer);

                        const tableData = {
                            'Topic': [],
                            'Searched Data': [],
                            'Search Time': [],
                            'Remove': [],
                            'Move To Public': []
                        };

                        response.searchedTopics.forEach((element) => {

                            tableData['Topic'].push(element.topicId);
                            tableData['Searched Data'].push(element.searchedData);
                            tableData['Search Time'].push(element.dateTime);
                            tableData['Remove'].push('Remove');
                            tableData['Move To Public'].push('Remove');

                            displayEndDateTime(element.retentionUntil);
                        });

                        const tableElement = CreateHistoryTable(tableData);

                        $("#searchedTopicDataTableContainer").append(tableElement);

                        if (response.pagination.totalPages > 0) {

                            const divElementPaginationContainer = CreateHistoryTablePagination(response.pagination, "searchedTopicDataTablePage");

                            $("#searchedTopicDataTableContainer").append(divElementPaginationContainer);
                        }
                    }
                },
                failure: (reponse) => {
                    console.log("failure", response);
                },
                error: (response) => {
                    console.log("error", response);
                }
            });
        }


        function DisplayTopicSubscriptions(pageNumber = 1) {

            //Send ajax HTTP GET request to /PrivateHistory/TopicSubscriptions.
            $.ajax({
                type: 'GET',
                url: '/PrivateHistory/TopicSubscriptions',
                data: {
                    'pageNumber': pageNumber
                },
                success: (response) => {

                    if (response != null) {

                        $("#historyTableContainer").empty();

                        const divElementTopicSubscriptionsTableContainer = $("<div>", {
                            id: "topicSubscriptionsTableContainer",
                            class: "container mt-1"
                        });

                        $("#historyTableContainer").append(divElementTopicSubscriptionsTableContainer);

                        const tableData = {
                            'Topic': [],
                            'Time': [],
                            'Remove': []
                        };

                        response.topicSubscriptions.forEach((element) => {

                            tableData['Topic'].push(element.topicId);
                            tableData['Time'].push(element.dateTime);
                            tableData['Remove'].push('Remove');

                            displayEndDateTime(element.retentionUntil);
                        });

                        const tableElement = CreateHistoryTable(tableData);

                        $("#topicSubscriptionsTableContainer").append(tableElement);

                        if (response.pagination.totalPages > 0) {

                            const divElementPaginationContainer = CreateHistoryTablePagination(response.pagination, "topicSubscriptionsTablePage");

                            $("#topicSubscriptionsTableContainer").append(divElementPaginationContainer);
                        }
                    }
                },
                failure: (reponse) => {
                    console.log("failure", response);
                },
                error: (response) => {
                    console.log("error", response);
                }
            });
        }

    </script>
}