
<section>
    <div class="container-fluid bg-dark text-white">
        <div class="row home_body overflow-hidden">
            <div class="search_options_dashboard mt-3">
                <div class="search_options_dashboard-nav mt-5">
                    <header class="mb-3">
                        <span class="text-center">Configure your search options</span>
                    </header>
                    <nav class="search_options_dashboard-nav-list h-75 overflow-auto gap-4">
                        <div class="search_options_dashboard-nav-dropdown">
                            <button class="btn btn-primary search_options_dashboard-nav-item ms-2 me-2 mb-4"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#cbrsec_menu"
                                    aria-expanded="false" aria-controls="cbrsec_menu">
                                Cybersecurity
                            </button>
                            <div id="cbrsec_menu" class="search_options_dashboard-nav-dropdown-menu collapse">
                                <a href="#cbrsec_menu_news" class="text-decoration-none search_options_dashboard-nav-dropdown-item ms-2 me-2"
                                    data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="cbrsec_menu_news">
                                    News
                                </a>

                                <div id="cbrsec_menu_news" class="search_options_dashboard-nav-dropdown-menu collapse mt-3 mb-3">
                                    <a class="text-decoration-none search_options_dashboard-nav-dropdown-item border-top ms-2 me-2">
                                        America
                                    </a>
                                    <a class="text-decoration-none search_options_dashboard-nav-dropdown-item ms-2 me-2">
                                        Asia
                                    </a>
                                    <a  id="cbrsec_menu_news_europe"
                                        class="text-decoration-none search_options_dashboard-nav-dropdown-item border-bottom ms-2 me-2">
                                        Europe
                                    </a>
                                </div>

                                <a href="#" class="text-decoration-none search_options_dashboard-nav-dropdown-item ms-2 me-2">
                                    Projects
                                </a>
                                <a href="#" class="text-decoration-none search_options_dashboard-nav-dropdown-item ms-2 me-2">
                                    Laws
                                </a>
                                <a href="#" class="text-decoration-none search_options_dashboard-nav-dropdown-item ms-2 me-2">
                                    Law regulations
                                </a>
                            </div>
                        </div>
                        <div class="search_options_dashboard-nav-dropdown">
                            <button class="btn btn-primary search_options_dashboard-nav-item ms-2 me-2 mb-4"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#programming_menu"
                                    aria-expanded="false" aria-controls="programming_menu">
                                Programming
                            </button>
                            <div id="programming_menu" class="search_options_dashboard-nav-dropdown-menu collapse">
                                <a class="text-decoration-none search_options_dashboard-nav-dropdown-item ms-2 me-2">
                                    News
                                </a>
                                <a class="text-decoration-none search_options_dashboard-nav-dropdown-item ms-2 me-2">
                                    Projects
                                </a>
                            </div>
                        </div>

                        <div class="search_options_nav-item-divider"></div>

                        <a href="#" class="btn btn-secondary search_options_dashboard-nav-item text-center ms-2 me-2 ps-5 w-50">
                            Back
                        </a>

                    </nav>
                </div>

                <div class="search_options_dashboard-app">
                    <div class="container ms-2 me-2">
                        <div class="row">
                            <div class="col">
                                <h3 class="text-center">Currently subscribed topics</h3>
                                <hr />
                                <div class="row mt-4">
                                    <!--    
                                        Here goes the list of subscribed topics for the user.
                                    -->

                                    <!--
                                        Example Start
                                    -->

                                    <div class="col">
                                        <h5>Cybersecurity</h5>
                                    </div>
                                    <div class="col">
                                        <h5>Programming</h5>
                                    </div>

                                    <!--
                                        Example End
                                    -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>