<div class="row">
    <div class="col">
        <h3 class="text-center">Currently subscribed topics</h3>
        <hr />
        <div class="row mt-4">
            <!--
                Here goes the list of subscribed topics for the user.
            -->
            <!--
                Example Start
            -->

            <div class="col">
                <h5>Cybersecurity</h5>
            </div>
            <div class="col">
                <h5>Programming</h5>
            </div>

            <!--
                Example End
            -->

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $("document").ready(() => {

            $("#searchoptions-menu-container").load("@Url.Action("LoadPartialViewUserSearchOptions", "User")");

            // $("#CybersecurityNewsEurope").click(() => {

            //     //Get the topic id
            //     topic_id = $("#Topic-CybersecurityNewsEurope").val();

            //     console.log(topic_id);

            //     //Send async POST http request to /User/UserTopicSubscription
            //     $.ajax({
            //         type: 'POST',
            //         url: '/User/UserTopicSubscription',
            //         data: {
            //             'topic_id': topic_id
            //         },
            //         //TODO: Log the messages for success, failure or error to logging service.
            //         success: (response) => {

            //             console.log("success", response);
            //         },
            //         failure: (reponse) => {

            //             console.log("failure", response);
            //         },
            //         error: (response) => {

            //             console.log("error", response);
            //         }
            //     });
            //});
        });

        function subscribeToTopic(topicId, haveChildren) {

            //Check if the topic has any children topics.
            if(haveChildren == 0){

                //The topic does NOT have children topics.

                //Send async POST http request to /User/UserTopicSubscription
                $.ajax({
                    type: 'POST',
                    url: '/User/UserTopicSubscription',
                    data: {
                        'topic_id': topicId
                    },
                    //TODO: Log the messages for success, failure or error to logging service.
                    success: (response) => {

                        console.log("success", response);
                    },
                    failure: (reponse) => {

                        console.log("failure", response);
                    },
                    error: (response) => {

                        console.log("error", response);
                    }
                });
            }
        }


    </script>
}